/* Structure */
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
     
  .example-spacer {
    flex: 1 1 auto;
  }
  
 .mat-elevation-z8{
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
 }

 