/* Structure */
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
    
  .example-spacer {
    flex: 1 1 auto;
  }
  
  
.make-alert {
  background-color: #FE5442;
  cursor: pointer;
}

tr.make-alert:hover {
  background-color: #FE5442;
  cursor: pointer;
}

